<!DOCTYPE html>
<html lang="hr">
<head>
    {% set site_settings = None %}
    {% set const = get_const_module() %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ page_title | default("epilogg") }} :: epilogg</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/adminlte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/adminlte/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="/static/adminlte/3rdparty/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/adminlte/3rdparty/fastclick/lib/fastclick.js"></script>
    <script src="/static/adminlte/js/adminlte.min.js"></script>

    <link href="/static/css/styles.css?v={{ get_timestamp_inc() }}" rel="stylesheet">

    <link rel="shortcut icon" href="/static/img/favicon.png" />

    {% block extra_head %}{% endblock %}
</head>

<body class="hold-transition skin-blue sidebar-mini fixed{% if body_class %} {{ body_class }}{% endif %}">
    {% block body_content %}{% endblock %}
</body>
</html>